body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.team-avatar {
    width: 60px;
}

 footer {
            color: #666;
            background: #222;
            padding: 17px 0 18px 0;
            border-top: 1px solid #000;
        }
        footer a {
            color: #999;
        }
        footer a:hover {
            color: #efefef;
        }

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 50px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}
.btn .glyphicon {
  margin-right: 8px;
}

.btn.btn-icon .glyphicon {
  margin-right: 0;
}

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { margin-bottom: 2.5em; }
#messages .date { float: left; width: 6em; margin-left: -8em; text-align: center; color: #999; }
#messages .day { font-size: x-large; }
#messages .photo { text-align: center; }
#messages .text { margin: 0.5em 0; }
#messages .replies { text-align: right; }
#messages .tags { list-style-type: none; margin: 0 0 0 1em; padding: 0; float: left; }
#messages .tags li { display: inline; margin-right: 0.5em; }
#messages .tags a { color: #999; text-decoration: none; border-bottom: 1px dashed #999; }
#replies { list-style-type: none; margin: 0; padding: 0; }
#replies li { margin-bottom: 2.5em; background-repeat: no-repeat; padding-left: 42px; }
#replies .username { font-size: larger; }
#navigation { background: #F0F0F0; margin: 2em 0; padding: 5px; text-align: center; }